<!--  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="../template/base-template :: headFragment"></head>
	<body>
		<a th:href="@{/login}"><button>Login</button></a>
		<h1 th:text="${title}"></h1>
		<a th:href="@{/primi}"><button>Primi</button></a>
		<a th:href="@{/secondi}"><button>Secondi</button></a>
		<a th:href="@{/dolci}"><button>Dolci</button></a>
	</body>
</html> -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="../template/base-template :: headFragment"></head>
	
	<body>
	  <header th:replace="../template/base-template :: headerFragment"></header>
	
	
	
	    <section class="banner" id="banner">
	        <div class="content">
	            <h2 class="shadow">Benvenuti!</h2>
	            <form class="form1">
	           
	              <a class="mainButton" th:href="@{magazine}">La Nostra Rivista</a>
	            </form>
	        </div>
	    </section>
	
	
	
	    <section class="chiSiamo" id="chiSiamo">
	        <div class="col-lg video">
	            <div class="col-5">
	                <h2 class="titleChiSiamo">Chi siamo</h2>
	                <p>Joyce's Kitchen è una comunità di professionisti appassionati dell'arte culinaria che hanno deciso di <br>
	                	creare un sito dove condividere le nostre creazione con voi!
	                </p>
	                <br>
						<p>Joyce's Kitchen è quindi il sito di ricette che ti permette di preparare fantastici piatti: primi, secondi e dolci,
						 grazie alle nostre ricette presentate in modo semplice e chiaro. 
						 Prepariamo e vi rendiamo partecipi di ricette regionali, nazionali ed internazionali per offrirvi 
						 la possibilità di apprendere l’arte culinaria nella sua totalità: dalle pietanze più raffinate ai classici piatti italiani.

						 Lasciati trasportare dalle bontà e riproducile a casa tua, divertiti insieme a noi e
						 buon appettito!
	                  </p>
	                  
	            </div>
	            <div class="col-1"></div>
	            <div class="col-6">
	              <iframe width="560" height="315" src="https://www.youtube.com/embed/qH__o17xHls" 
	              title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	            </div>
	        </div>
	    </section>
	
	    <section class="chiSiamo" id="ultimaUscita">
	      <div class="col-lg video"> 
	          <div class="col-7">
	              <img th:src="@{'static/foto/' + ${ultR.id_recipe} + '.png'}" id="lastRecipe"></img>
	          </div>
	          <div class="col-5">
	              <h2 class="titleChiSiamo shadow scritta">Ultima uscita!</h2>
	              <br>
	              <h2 th:text="${ultR.recipe_name}"></h2>
	              <p th:text="'- ' + ${ultR.recipecategory}"></p>
	              <p th:text="'- ' + ${ultR.time}"></p>
	              <p th:text="'- ' + ${ultR.difficulty}"></p>
	              <br>
	              <p th:text="${ultR.process}"></p>
	                  <div>
	                    <a th:href="@{recipe(id=${ultR.id_recipe})}" class="mainButton ultime-bottone" id="buttonStrange">Scopri di piu'</a>
	                  </div>
	                  </div>
	    </div>
	  
	    
	  </section>
	
	    <section id="search-bar">
      <h3 id="cercaScritta">Le nostre ultime ricette!</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="cardProva" th:each="r : ${lastRecipes}">
            <div class="circle"></div>
            <div class="content">
              <h2 th:text="${r.recipe_name}"></h2>
              <p th:text="'- ' + ${r.recipecategory}"></p>
              <p th:text="'- ' + ${r.time}"></p>
              <p th:text="'- ' + ${r.difficulty}"></p>
            </div>
            <div class="contentHover">
              <h2 th:text="${r.recipe_name}"></h2>
              <a th:href="@{recipe(id=${r.id_recipe})}">Scopri Ricetta</a>
            </div>
            <img th:src="@{'static/foto/' + ${r.id_recipe} + '.png'}">
          </div>
	            </div>
	    </section>
	
		<form th:replace="../template/base-template :: newsletterFragment"></form>
		<footer th:replace="../template/base-template :: footerFragment"></footer>
	    
	    <script th:src="@{static/javascript/HomePage2.js}"></script>
	</body>
</html>