<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="../template/base-template :: headFragment"></head>
	<body>
		<a th:href="@{/}"><button>Home</button></a>
		<input type="button" value="Admin" id="admin"/>
		<h1 th:text="${title}"></h1>
		
		<form action="reserved" method="GET" th:object="${user}">
			<input type="text" name="user" id="user" th:value="${name}" placeholder="Inserire username" required />
			<input type="password" name="password" th:value="${password}" id="password" required />
			<input type="submit" th:value="Login" />
		</form>
	</body>
</html>