<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="../template/base-template :: headFragment"></head>
	<body>
		<a th:href="@{/}"><button>Home</button></a>
		<input type="button" value="Admin" id="admin"/>
		<h1 th:text="${title}"></h1>

			<form name="fmod" id="fmod" method="POST" th:object="${recipe}">
				<p>Name <input type="text" th:field="*{recipe_name}" th:value="${recipe.recipe_name}" required/></p>
				<p>Ingredients <input type="text" th:field="*{ingredients}" th:value="${recipe.ingredients}" required/></p>
				<p>Process <input type="text" th:field="*{process}" th:value="${recipe.process}" required/></p>
				<p>Time <input type="text" th:field="*{time}" th:value="${recipe.time}" required/></p>
				
				<p><label for="formFile" class="form-label">Categoria</label>
			            <select th:field="*{recipecategory}" required>
			            	<option value="0" selected disabled>Scegli</option>
			            	<option value="primo">Primo</option>
			            	<option value="secondo">Secondo</option>
			            	<option value="dolce">Dolce</option>
			            </select>
		            
					<label for="formFile" class="form-label">Difficoltà</label>
			            <select th:field="*{difficulty}" required>
			            	<option value="0" selected disabled>Scegli</option>
			            	<option value="facile">Facile</option>
			            	<option value="media">Media</option>
			            	<option value="difficile">Difficile</option>
			            </select>				
				<!-- Sezione aggiuntiva -->
				<!--
					<p>Suitable for <input name="suitablefor.description" required/></p>
					<p>Difficulty <input name="difficulty.description" required/></p>
					<p>Recipe Category<input name="recipecategory.description" required/></p>
				-->
			<input type="submit" th:value="Modifica"/>
			<a th:href="@{reserved}"><button type="button" class="btn btn-primary">Annulla</button></a>
		</form>
	</body>
</html>