<!DOCTYPE html>
<html lang="it">
<head>
    <link type="text/css" rel="stylesheet"  href="../Css/HomePage2.css">
    <link type="text/css" rel="stylesheet"  href="../Css/ricetta.css">
    <link type="text/css" rel="stylesheet"  href="../Css/fonts.css">
    <link type="text/css" rel="stylesheet"  href="../Css/promo.css">
    <link type="" rel="stylesheet"  href="../Css/fonts.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricetta</title>
</head>
<body>
     <header>
        <img src="../Images/Logo.png" class="logo"></img>
        <ul class="navBar">
           <li><a href="#banner" class="homeButton">Home</a></li>
           <li><a href="#ricette" class="homeButton">Ricette</a></li>
           <li><a href="#chiSiamo"class="homeButton" >Chi siamo</a></li>
           <li><a href="#rivista" class="homeButton">Rivista</a></li>
           <li><a href="#rivista" class="homeButton">Admin</a></li>
        </ul>
    </header>
    
    <section class="banner" id="banner">
        <div class="content">
            <h2>Pasta buona</h2>
            <a href="#" class="mainButton">Trovala sul magazine</a>
        </div>
    </section>

<section>
    <div class="fotoIngredienti col-lg"> 
    <div class="col-7"> <img src="../Images/pasta2.jpg" id="fotoprincipale"></img></div>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</section>

    <script src="../Javascript/HomePage2.js"></script>

    <footer>

    </footer>