<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{static/css/HomePage2.css}">
    <link type="text/css" rel="stylesheet" th:href="@{static/css/ricetta.css}">
    <link type="text/css" rel="stylesheet" th:href="@{static/css/fonts.css}">
    <link type="text/css" rel="stylesheet" th:href="@{static/css/promo.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
   	<header th:replace="../template/base-template :: headerFragment"></header>
    
    <section class="banner" id="banner">
        <div class="content">
            <h2>Pasta buona</h2>
            <a href="#" class="mainButton">Trovala sul magazine</a>
        </div>
    </section>

<section>
    <div class="fotoIngredienti col-lg"> 
    <div class="col-7"> <img src="../Images/pasta2.jpg" id="fotoprincipale"></img></div>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</section>

    <script src="../Javascript/HomePage2.js"></script>

    <footer>

    </footer>