/* Wrapper */
     .background, .foreground{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        margin-top: -115px;
     }

h1{
    font-family: DejaVu Sans Mono, monospace !important;
    font-size: 263% !important;
}    
.form-control{
    background-color: white !important;
}

.btn-primary{
    background-color:#95cada !important;
    border-color: #447685 !important;
    color:#447685 !important;
}

.btn:hover{
    background-color: #447685 !important;
    border-color: #447685 !important;
    color:beige !important;

}
/* Body */
    body {
        background-color: aliceblue;
    }

    .background {
        transform: translateZ(-10px), scale(2);
    }

    .foreground {
        transform: translateZ(-5px),  scale(2);
    }
        



/* Navigation Bar */
    .navBarParent {
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #95cada;
    }
        .childFont {
        color: white;
        font-size: 50%;
        margin-top: 1.5%;
        margin-right: 6%;
        }
        .logo{
           
            margin-left: 28px;
        }
        #logo{
            height: 212px;
        }


/* Main Picture */
.mainpicture{
    width: 100%;
    margin-top: 115px;
    object-fit: cover;
    height: 80%;
}

.search{
    padding-top: 19px;
}

.cerca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #95cada;
}

#cercaRicetta{
    margin-top: 1%;
}


@media (min-width: 800px) AND (max-width: 1120px) {
    h1{
        font-size: 295% !important;
    }
    .navBarParent{
    }
    .childFont{
        
        margin-right: 3%;
    }
    }

