
#banner {
    position: relative;
    width: 100%;
    min-height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: cadetblue;
    background-size: cover;
}

.titoli{
    margin-bottom: 10px;
    margin-top: 20px;
    
}

.fotoRivista{
    background: cadetblue;
    width: 100%;
    height: 600px
}

.banner .content {
    margin-top: 8%;}

#sette{
width: 55%;
margin-left: 8%;
}
.rivista{
    width: 100%;
}

#testoRivista{
    width: 35%;
    display: flex;
    flex-direction: column;
}

#promoRvista{
    margin-top: 40px;
    margin-right: 40%;
}

#contRivista{
    display:flex;
}

.iconeContatti{
    height: 142px;
    padding: 13px;
    background: cadetblue;
}

.iconeContatti:hover {
    background:#97cbdb ;
    box-shadow: 1px 1px 2px cadetblue, 0 0 25px cadetblue, 0 0 5px #f8f9fa;

}

#iframe1{
        border: 0;
        height: 104%;
    padding-top: 38px;
    width: 60%;
}

#contattiContainer{
    /* justify-content: center; */
    padding-top: 58px;

}

.contatti{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.distanzaContatti{
    text-align: center;
    padding-top: 21px;
}

#container1{
    display: flex;
    background: #def0f6;
    /* margin-top: 7px; */
    padding-top: 0;
    padding-bottom: 31px;
}

#ceo{
    height: 279px;
    margin-top: 23px;
}

#ceotitolo{
        font-size: 38px;
    padding-top: 33px;
}

.ceonome{
    text-align: center;
    padding-right: 157px;
}

#linkedin{
    margin-top: 11px;
    height: 36px;
    transition: 0.2s;
}

#linkedin:hover{
    height: 40px;
    padding-left: 70px;
    transition: 0.2s;
}

@media (max-width: 877px){
    #contRivista{
        flex-direction: column;
    }

    #sette{
        width: 100%;
        margin-left: 0;
        padding-right: 20px;
    }

    #testoRivista{
        text-align: left;
        width: 100%;
        flex-direction: row;
        padding-right: 20px;
    }

    #descrizione{
        width: 50%;
    margin-right: 38px;
    }
    #altreRiviste{
        width: 50%;
    }
    .titoli {
        font-weight: lighter;}
}

@media (max-width: 623px){
    .contatti{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 1230px){
iframe {
    width: 600px;
    height: 450px;
}
}

@media(max-width: 1023px){
    #container1{
        flex-direction: column;
    }

    iframe {
        width: 100% !important;}

        #ceoContainer{
            width: 100% !important;
        }

        #iframe1{
            width: 100%
        }
}