* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#bannersecondi {
    position: relative;
    width: 100%;
    min-height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../Images/bistecca.jpg);
    background-size: cover;
}
#bannerprimi {
    position: relative;
    width: 100%;
    min-height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../Images/pasta.jpg);
    background-size: cover;
}
#bannerdolci {
    position: relative;
    width: 100%;
    min-height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../Images/torta.jpg);
    background-size: cover;
}

.sec{
    color:white;
}

#proc{
    font-weight: bold !important;
    font-size: 234%;
    color: cadetblue !important;
    margin-top: -2%;
    margin-bottom: 1.3%;
}