#banner {
    background: url(../Images/pasta.jpg) !important;
}

.fotoIngredienti{
    display: flex;
}

#fotoprincipale{
    width: 50%;
    object-fit: cover;
    max-height: 91%;
}

.titoloRicetta{
    position: fixed;
    margin-top: -4%;
    margin-left: -2%;
    transition: 0.2s;
}

.titoloRicettascroll{
    position: absolute;
    margin-top: 17%;
    margin-left: -2%;
    color: black !important;
}
